Sphinx==7.2.6
jupyter_sphinx
nbsphinx
sphinx_rtd_theme
recommonmark
anndata==0.9.1
ctxcore==0.2.0
esda==2.4.3
geopandas==0.14.3
libpysal==4.8.1
networkx==2.8.6
numba==0.60.0
numpy==1.24.3
opencv-python==4.8.1.78
pandas==1.5.2
pyscenic==0.12.1
s-dbw==0.4.0
shapely==2.0.3
scanpy==1.10.3
scikit-image==0.19.3
scikit-learn==1.1.2
scikit-misc==0.3.1
scipy==1.13.1
seaborn==0.13.2
statsmodels==0.13.2
tensorly==0.8.1
matplotlib
sklearn
tqdm
